name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git zip unzip openjdk-17-jdk wget curl
          python -m pip install --upgrade pip
          pip install --upgrade Cython
          pip install buildozer

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Accept Android SDK licenses
        run: yes | sdkmanager --licenses

      - name: Install Android Build-Tools and Platform
        run: |
          sdkmanager "build-tools;33.0.2" "platforms;android-33"

      - name: Build APK
        run: |
          cd ./  # Измени путь, если buildozer.spec лежит не в корне
          buildozer android debug